In [1]:
import pandas as pd

In [6]:
bus_course = pd.read_excel('./datasets/seoul_busId_course.xlsx')
bus_course.head()

    노선명    ROUTEID
0  0017  100100124
1    01  100100001
2  0411  104000012
3   100  100100549
4   101  100100006

In [7]:
stop_location = pd.read_excel('./datasets/seoul_busStop_location.xlsx')
stop_location.head()

     NODE_ID  ARS_ID           정류소명         X좌표        Y좌표
0  100000001    1001        종로2가사거리  126.987750  37.569765
1  100000002    1002    창경궁.서울대학교병원  126.996566  37.579183
2  100000003    1003      명륜3가.성대입구  126.998340  37.582671
3  100000004    1004       종로2가.삼일교  126.987613  37.568579
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243